<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1 style="text-align: center;">Editar {{ empresa.nome }}</h1>
<form action="/edit/empre/{{ empresa.id }}" class="conteiner" method="post">
    <div class="row">
        <div class="col-md-6">
            <input type="text" name="nome" id="nome" placeholder="nome" class="form-control" value="{{ empresa.nome }}">
        </div>
        <div class="col-md-6">
            <input type="text" name="local" id="local" placeholder="local" class="form-control" value="{{ empresa.local }}">
        </div>
    </div>
    <br>
    <div class="row col-xs-12">
        <button type="submit" class="btn btn-bloco btn-success">Enviar</button>
    </div>
</form>
</body>
</html>